<div class="container-fluid" style="padding-left: 0 !important; padding-right: 0 !important;">
    <header class="w-100"> <img src="./dist/img/banner00.jpg" style="width: 100%; height: 300px;" alt=""></header>
   </div>
  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Wedside Book Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#!/list-all">Manager Product</a></li>
            </ul>
          </li>
        </ul>
  
  
  
        <a href="#!/login" ng-if="!checkUserLogin()"><button class="btn btn-outline-success ">
            Login
          </button></a>
          <a ng-show="checkUserLogin()"><button class="btn btn-outline-success ">
               Xin Chào: {{ username }}
          </button></a>
          <a ng-click="logout()" ng-show="checkUserLogin()"><button class="btn btn-outline-secondary mx-2 ">
               Logout
       </button></a>
  
        <a href="#!/register" ng-if="!checkUserLogin()" class="btn btn-outline-warning mx-3">
     Register
        </a>

      </div>
    </div>
  </nav>


  <div class="container"> <div class="d-flex justify-content-center align-items-center" style="height: 300px;">Bạn Không có quyền truy cập vào trang này vui lòng quay lại trang  <a href="#!/login">Login</a></div></div>